.App {
  text-align: center;
  color: white;
}

.App-header {
  background-color: rgba(0, 0, 0, .65);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-blend-mode: multiply;
  background-size: cover;
}

.App-footer {
  position: absolute;
  bottom: 5px;
  width: 100vw;
  font-size: 0.8em;
  font-weight: 700;
}

.App-header a,
.App-header a:visited,
.App-footer a,
.App-footer a:visited {
  color: #bb86fc;
  transition: color 0.2s ease;
}

.App-header a:hover,
.App-footer a:hover {
  color: #d4b4fa;
}
